
.iconEdit{
    font-size: 25px;
    /* font-weight: bold; */
    margin-right: 15px;
}
.iconEdit:hover{
    color: rgb(204, 142, 26);
    transform: scale(1.3);
    transition: all 0.3s;
}

.iconDelete{
    font-size: 25px;
    /* font-weight: bold; */
}
.iconDelete:hover{
    color: rgb(128, 31, 31);
    transform: scale(1.3);
    transition: all 0.3s;
}
.img-product{
    width: 70px;
    height: 70px;
    /* background-color: brown; */
    /* border-radius: 50%; */
    /* border: 1px solid #555; */
    overflow: hidden;
}

.img-product img{
    width: 100%;
    height: 100%;
}
.nnnn{
    margin-left: 20px;
}
