@import '../../../assets/scss/vari.module.scss';

.home-banner-container{
    width: 100%;
    //height: 450px;
    //background-position: center center;
    //position: fixed;
    position: relative;
    overflow: hidden;

    .bg{
        width: 100%;
        min-height: 480px;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        .hbc-container{
            position: absolute;
            top: 50%;
            left: 10%;
            transform: translateY(-50%);
            font-family: $font-amatic-sc;
            font-size: 40px;
            .name-shop{
                text-align: left;
                font: 800;
                color: white;
                .name{
                    color:white;
                    font-weight: bold;
                    font:800
                }
            }
            .isay{
                font:800;
                color:white;

            }
        }
    }
}