
.about-page-container{
    .image{
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .content{
        padding: 20px;
        text-align: left;
        .title{
            color: #333;
            font-size: 25px;
            font-weight: 400;
        }
        .story{
            color: #888;
        }
    }
}