@import '../../../../assets/scss/vari.module.scss';
@import '../../../../assets/scss/variadmin.module.scss';
$black: #222121cc;
$height-address-box: 120px;

$height-address-box: 140px;


.add-product-container{
    width: 90%;
    margin: 15px 0;
    //border: 2px rgb(107, 101, 101) solid;
    border-radius: 5px;
    padding: 30px;
    background-color: $main-bg;
    box-shadow: $box-shadow;
    
    .title{
        font-size: 16px;
        //color: rgb(107, 101, 101);
        color: $txt-color;
        text-align: left;
        margin-bottom: 0p1x;
        text-transform: uppercase;

        .icon{
            font-size: 15px;
            font-weight: bold;
        }
    }

    .add-category-form{
        label{
            display: inline-block;
            width: 100%;
            text-align: left;
            font-size: 16px;
            margin-bottom: 8px;
        }
        label.label-error{
            font-size: 12px;
            margin-bottom: 0px;
            color: $color-on-hover;
            padding-left: 3px;
            &::before{
                content: "*";
                font-size: 12px;
            }
        }

        .form-group{
            margin-bottom: 20px;
            position: relative;
            
            .form-control{
                width: 100%;
                background-color: transparent;
                border: none;
                //border-radius: 40px;
                border: 1px solid #e2e2e2;
                background-color: rgba(255,255,255,.08);
                color: $black;
                padding: 15px 20px;

                &:hover, &:focus{
                    background: transparent;
                    outline: none;
                    box-shadow: none;
                    box-shadow: $b-shadow-2;
                    //border-color: $color-on-hover;
                }
                &:active{
                    outline: none;
                }
                
            } 

            .form-control.capacity{
                &::-webkit-outer-spin-button,
                &::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
                }
            }

            .btn-left{
                width: 50%;
                text-align: left;
                display: inline-block;
                span{
                    width: 80%;
                    text-align: center;
                    padding: 0;
                    //padding: 0px 40px;
                    border: 2px solid $black;
                    //border-radius: 40px;
                    height: 48px;
                    line-height: 48px;
                    font-size: 13px;
                    font-weight: bold;
                    color: $black;
                    cursor: pointer;
                    transition: all 0.6s;
                    text-transform: uppercase;
                    &:hover{
                        background-color: $color-on-hover;
                        border-color: $color-on-hover;
                        color: white;
                        opacity: 1;
                        box-shadow: $b-shadow-2;
                    }
                }
            }  
            
            .btn-right{
                width: 50%;
                text-align: right;
                display: inline-block;
                height: 48px;
                line-height: 48px;
                .btn{
                    width: 85%;
                    cursor: pointer;
                    text-transform: uppercase;
                    background-color: $black;
                    //border: 2px solid $black;
                    //margin-top: 10px;
                    color: white;
                    transition: all 0.6s;

                    &:hover{
                        background-color: $color-on-hover;
                        color: white;
                        opacity: 1;
                        
                    }
                }
            }

            .tare{
                min-height: 140px;
            }

            .select-hh{ 
                
                .css-1s2u09g-control{
                    border-radius: 0;
                    //height: 48px;
                    min-height: 48px;
                    .css-xcaois-singleValue{
                        font-size: 14px;
                    }
                }
                .css-1pahdxg-control{
                    //height: 48px;
                    min-height: 48px;
                    border: 1px solid #e2e2e2;
                    //box-sizing: content-box;
                    box-shadow: $b-shadow-2 !important;
                    .css-xcaois-singleValue{
                        font-size: 14px;
                    }
                    &:hover{
                        border: 1px solid #e2e2e2 !important;
                        box-shadow: $b-shadow-2 !important;
                    }
                }
                &:focus-visible{

                }
                &:hover, &:focus, &:focus-visible{
                    background: transparent;
                    outline: none;
                    box-shadow: none;
                    box-shadow: $b-shadow-2;
                    //border-color: $color-on-hover;
                }
                &:active{
                    outline: none;
                }
            }

            
        }

        .form-group.ml{
            padding-top: 56px;
            margin-left: -20px;
        }
        .form-group.last{
            margin-top: 40px;
        }

        .row-img{
            .label-images{
                //margin-top: 20px;
                //padding-left: 15px;
            }
            .label-choose-img{
                //text-align: center;
                display: inline-block;
                width: fit-content;
                font-size: 12px;
                cursor: pointer;
                border: none;
                padding: 3px 8px 6px 8px;
                margin-top: 10px;
               // margin-left: 42px;
                border: solid 1px #ced4da;
                border-radius: 3px;
                transition: all 0.5s;
                .icon-choose-img{
                    font-size: 25px;
                }
        
                &:hover{
                    color: white;
                    background-color: #3f836c;
                }
            }
        
            .icon-add-colors-container{
                padding-left: 0px;
            }
            .result{
                min-height: 100%;
                max-height: auto;
                width: 100%;
                //background-color: #272c34;
                padding-left: 30px;
                margin-top:1rem ;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: left; 
                
                img{
                    width: 180px;
                    height: 180px;
                    object-fit: cover;
                    padding: 0.75rem;
                    
                  }
              }
        
            .img-product-2{
                position: relative;
                .icon-delete-img-2{
                    position: absolute;
                    top: 0;
                    left: 0;
                    //transform: translateX(50%);
                    .icon-del-img{
                        font-size: 20px;
                        //font-weight: bold;
                        transition: all 0.2s;
                        margin-top: -10px;
                        &:hover{
                            color: #d72929;
                            transform: scale(1.5);
                        }
                    }
                }
            }
        }
    }
}

